/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/admin/admin.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.admin_container__uVSVc{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.admin_row__d8ao4{
    display: flex;
    gap: 100px;
}

.admin_row__d8ao4 h1{
    font-size: 24px;
    font-weight: 300;
}

.admin_col__KpBlt{
    flex: 1 1;
}

.admin_col__KpBlt img{
    object-fit: cover;
    border-radius: 50%;
}

.admin_line__UtiEm{
    margin: 100px;
    color: var(--bgSoft);
}

@media (max-width: 768px) {
    .admin_row__d8ao4{
        flex-direction:column;
    }
    
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/adminPostForm/adminPostForm.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.adminPostForm_container__Rl2YE{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adminPostForm_container__Rl2YE input,
.adminPostForm_container__Rl2YE textarea,
.adminPostForm_container__Rl2YE select {
    padding: 20px;
    background-color: var(--bgSoft);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
}

.adminPostForm_container__Rl2YE button{
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    font-weight: bold;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/adminPosts/adminPosts.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.adminPosts_post__jUo9n{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.adminPosts_detail__6jqS6{
    display: flex;
    align-items: center;
    gap: 20px;
}

.adminPosts_postButton__Rb0g9{
    padding: 5px 10px;
    background-color: rgba(220, 20, 60, 0.593);
    color:var(--textColor);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/adminUserForm/adminUserForm.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.adminUserForm_container__dJAsV{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adminUserForm_container__dJAsV input,
.adminUserForm_container__dJAsV textarea,
.adminUserForm_container__dJAsV select {
    padding: 20px;
    background-color: var(--bgSoft);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
}

.adminUserForm_container__dJAsV button{
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    font-weight: bold;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/adminUsers/adminUsers.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.adminUsers_user__v201E{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.adminUsers_detail__wGTD9{
    display: flex;
    align-items: center;
    gap: 20px;
}

.adminUsers_userButton__dWR5O{
    padding: 5px 10px;
    background-color: rgba(220, 20, 60, 0.593);
    color:var(--textColor);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
